.container
{
    justify-content: start;
}
.loginbutton{
    width: 350px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 53%;
}
.logoletra {
    width: 85px;
    height: 25px;
    margin-bottom: 1%;
}
.loginbutton {
    margin-top: auto;
    margin-bottom: 40px;
}
.steps
{
    width: 360px;
    height: 30px;
    margin-top: 27px;
}
